*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #FCF8F2;
}
.wrap{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo p{
    font-size: 20px;
    font-weight: bold;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: #17D7A0;
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 60px;
    top: 0;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    margin-right: 350px;
    padding: 0px;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li p{
    color: #17D7A0;
    text-align: center;
    font-weight: bold;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;
    color: #17D7A0;
}
.kolom{
    margin: 20px 0px 0px 90px;
}
.kolom h2{
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}
.cel{
    margin: 12px 0px 0px 20px;
    width: 150px;
    height: 30px;
    border: 2px solid #17D7A0;
    font-size: 12px;
    border-radius: 10px;
}
.button{
    background-color: #17D7A0;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    color: #FCF8F2;
    border: none;
    margin-top: 20px;
    width: 100%;
}
.button:hover{
    color: black;
    background: #FFD93D;
}
.kolom .bu{
    background-color: #17D7A0;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    color: #FCF8F2;
    border: none;
    margin-top: 20px;
    width: 250px;
}
.kolom .bu:hover{
    color: black;
    background: #FFD93D;
}
.formStyle label{
    display: block;
    margin: 20px 0px 10px 0px;
}
.footer{
    font-weight: 600;
    font-size: 14px;
    color: #17D7A0;
    width: 100%;
    padding: 0;
    position: fixed;
    line-height: 40px;
    text-align: center;
    bottom: 0px;
}
.footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-left: 310px;
}
.footer li p{
    padding-right: 16px;
}
.footer ul li{
    float: left;
}
.footer ul li a{
    font-weight: 500;
    color: black;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
.footer ul li a:hover{
    font-weight: bold;
    color:#17D7A0;
}